:root {
    font-size: 10px; /* Base font size */
}

p, h1, h2, h3, h4, h5, h6, div, span, a, li, button {
    font-size: 1.6rem; /* 16px */
}


.container {
    max-width: 1200px;
    margin: 0 auto; /* Center the container */
    height: 100vh; /* Full viewport height */
    background-color: #FFF9C4;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgb(234, 236, 116);
    border: 1px solid black;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}