:root {
    /* font-size: 10px;  */
    /* Base font size */
    --color_1: #FF2DF1; /* Primary color */
    --color_2: #410445; /* Secondary color */
    --color_3: #F6DC43; /* Accent color */
    --color_4: #080a08; /* Success color */
}

div {
    font-size: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto; /* Center the container */
    height: 100vh; /* Full viewport height */
    background-color: var(--color_1);
}

.box {
    width: 100px;
    height: 100px;
    background-color: var(--color_3);
    text-align: center;
    line-height: 100px; /* Center text vertically */
    border: 1px solid black;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 800px) {
    .container {
        background-color: var(--color_2);
    }

    .flex {
        flex-direction: column;
        text-align: center;

    }

    .box {
        width: 100%;
    }
}